APP_NAME=
APP_VERSION=

DEBUG=

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=

OPENROUTER_API_KEY=
OPENROUTER_API_URL=