APP_NAME=
APP_ENV=
APP_VERSION=


POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

REDIS_HOST=
REDIS_PORT=
REDIS_USER=
REDIS_PASSWORD=
REDIS_DB=

OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=