PORT=8001

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER=""
REDIS_PASSWORD=""
REDIS_DB=0
REDIS_INGESTION_QUEUE=datahub:queue:ingestion

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=datahub

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=datahub
MINIO_REGION=us-east-1